@font-face {
    font-family: "Shapiro 65 Light Heavy Wide";
    src: url("/fonts/Shapiro/Shapiro 65 Light Heavy Wide.otf");
}
@font-face {
    font-family: "Shapiro 85 Super Heavy Extd";
    src: url("/fonts/Shapiro/Shapiro 85 Super Heavy Extd.otf");
}
@font-face {
    font-family: "Shapiro 97 Air Extd";
    src: url("/fonts/Shapiro/Shapiro 97 Air Extd.otf");
}